<template>
  <div class="views logout">
    {{ state.stageState.msg }}
    <router-link
      @click="methods.cancelRedirectCountDown"
      :to="{ name: 'login' }"
    >{{ $t('documentTitle.login') }}</router-link>
  </div>
</template>

<script lang="ts">
import { onMounted, reactive } from 'vue'
import { useRouter } from 'vue-router'
import { usePermission } from '/@/plugins/permission'
import i18n from '/@/plugins/i18n'
import declareToWindow from '/@/plugins/declareToWindow/index.ts'

export default {
  setup () {
    const $t = i18n.global.t
    const permission = usePermission()
    const router = useRouter()

    const state = reactive({
      stageState: {
        state: false,
        msg: ''
      }
    })

    state.stageState.state = false
    state.stageState.msg = $t('logout.loggingout')

    const redirectAction = () => {
      router.push({ name: 'login' })
    }

    const timer = declareToWindow('window.timer.logout')
    const methods = {
      cancelRedirectCountDown: () => {
        if (timer.value !== null) {
          redirectAction()
          clearTimeout(timer.value)
          timer.value = null
        }
      }
    }
    onMounted(() => {
      permission.destroy()
        .then(() => {
          const redirectAfter = 3
          state.stageState.state = true
          const updateCountDown = function (i) {
            setTimeout(() => {
              state.stageState.msg = $t(
                'logout.logedout',
                [redirectAfter - i]
              )
            }, i * 1000)
          }
          for (let i = 1; i <= redirectAfter; i++) {
            updateCountDown(i)
          }
          timer.value = setTimeout(() => {
            redirectAction()
            timer.value = null
          }, redirectAfter * 1000)
        })
    })

    return { state, methods }
  }
}
</script>
