<template>
  <div class="views test">
    {{ permissionState }}
    <hr>
    page2
    <hr>
    <button @click="methods.setLanguage('en-us')">EN-US</button>
    <button @click="methods.setLanguage('zh-tw')">ZH-TW</button>
    <button @click="methods.click">{{ $t('click')}}</button>
    <hr>
    <button @click="methods.permission.create({personalData: {id: 0}})">登入</button>
    <button @click="methods.permission.refresh">更新憑證</button>
    <button @click="methods.permission.destroy">登出</button>
    <hr>
    {{ state.stageState}}
    {{ $t('hello.a') }}
    {{ $t('hello.b') }}
    <hr>
    <template v-if="!state.stageState.post.fetching">
      <ul>
        <li
          v-for="post in state.responses.posts"
        >{{ post }}</li>
      </ul>
    </template>
    <template v-else>{{ state.stageState.post.msg }}</template>
    <p></p>
    <router-link :to="{ name: 'main' }">Main</router-link>
  </div>
</template>

<script>
import { reactive, onBeforeMount } from 'vue'
import i18n from '/@/plugins/i18n'
import { postController } from '/@/controller'
import { usePermission } from '/@/plugins/permission'

export default {
  setup () {
    const state = reactive({
      stageState: {
        post: { fetching: true, msg: 'No action' }
      },
      responses: {
        posts: []
      }
    })

    const permission = usePermission()

    onBeforeMount(() => {
      setTimeout(async () => {
        state.responses.posts = await postController.getPost({
          id: 1,
          beforeFetch () {
            state.stageState.post.fetching = true
            state.stageState.post.msg = 'Loading'
          },
          afterFetch () {
            state.stageState.post.fetching = false
            state.stageState.post.msg = ''
          }
        })
      }, 5000)
    })

    const $t = i18n.global.t
    const methods = {
      click: () => {
        console.log($t('greeting'))
      },
      setLanguage: (e) => {
        console.log(
          i18n.global.locale = e
        )
      },
      permission: {
        create: permission.create,
        destroy: permission.destroy,
        refresh: permission.refresh
      }
    }
    return {
      state,
      methods,
      permissionState: permission.state
    }
  }
}
</script>

<style lang="scss">
// .views.test {
// }
</style>
