<template>
  <div>
    Cliked: {{ state.count }} ({{ vuex.clickedTimes }})
    <i></i>
    {{ vuex.enabled }}
    <button @click="methods.increment()">CLICKME</button>
    <p></p>
    <routerLink :to="{ name: 'login' }">Test</routerLink>
  </div>
</template>

<script lang="ts">
import { reactive, onMounted, computed } from 'vue'
import { useStore } from 'vuex'

export default {
  setup (props, { emit }) {
    const state = reactive({
      count: 0
    })
    const store = useStore()

    const vuex = computed(() => store.state)

    const methods = {
      async increment () {
        let storeClicked = Number(store.state.clickedTimes)
        storeClicked++
        state.count++
        store.dispatch('update', {
          key: 'clickedTimes',
          value: storeClicked
        })
        store.dispatch('update', {
          key: `enabled`,
          value: !store.state.enabled
        })
      }
    }

    onMounted(() => {})

    return {
      state,
      vuex,
      methods
    }
  }
}
</script>

<style lang="scss">
</style>
