<template>
  <router-view></router-view>
</template>

<script>
import { useRoute } from 'vue-router'
import { watch, onBeforeMount } from 'vue'
import i18n from '/@/plugins/i18n'

export default {
  setup () {
    const route = useRoute()

    const updateDocumentTitle = () => {
      let title = i18n.global.t('projectName')
      if (route.meta.documentTitleKey) {
        const langKey = `documentTitle.${route.meta.documentTitleKey}`
        if (i18n.global.te(langKey)) {
          title = `${i18n.global.t(langKey)} - ${title}`
        }
      }
      document.title = title
    }

    watch(
      () => route.name,
      async (newValue, oldValue) => {
        updateDocumentTitle()
      }
    )

    onBeforeMount(() => {
      updateDocumentTitle()
    })
  }
}
</script>

<style lang="scss">
body{
  font-size: calc(1em + 0.5vw);
}
</style>
